* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #000000;
    color: #000000;
    padding: 15px 0;
}

.logo h1 {
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin-top: -10;
}

nav .nav-link{
list-style-type: none;
display: flex;
margin: 0;

}
nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo img{
    height: 40px;
    margin-right: 10px;
}

/* Hero Section */
.hero {
    background: url(back.jpg) no-repeat center center/cover;    height: 750px;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.cta-buttons .btn {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.cta-buttons .btn-primary {
    background-color: #FFD700;
    color: #003366;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-buttons .btn:hover{
    background-color: blue;
}

.cta-buttons .btn-primary:hover{
    background-color: blue;
}
 
/* Features Section */
.features {
    padding: 40px 0;
    text-align: center;
}

.features h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
}

.feature {
    background-color: #c7c6c6;
    padding: 20px;
    border-radius: 10px;
    width: 25%;
}

.feature h3 {
    color: #2C3E50;
    margin-bottom: 20px;
}

.feature img{
    max-width: 10%;
    height: auto;
    border-radius: 10px;
}

/* Courses Section */
.courses {
    padding: 40px 0;
    background-color: #fff;
}

.courses h2 {
    text-align: center;
    margin-bottom: 30px;
}

.course-cards {
    display: flex;
    justify-content: space-between;
}

.course-card {
    background-color: #c7c6c6;
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.course-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.course-card h3 {
    color: #003366;
    margin-bottom: 10px;
}

.course-card p {
    font-size: 1.2rem;
    color: #FFD700;
}

/*add hover Effect to course card*/
.course-card:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.footer{
    font-size: 12px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 100px 5px 100px;
}

/*registarcion*/
.registration{
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url(images/back1.jpg);
    background-size: cover;
    background-position: 0;
    justify-content: space-evenly;
}

.registration .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.reminder{
    color: white;
    display: grid;
    padding-top: 25px;
    padding-left: 25px;
    text-align: left;
    grid-area: reminder;
    position: relative;
    z-index: 2;
}

.reminder p{
    font-weight: 400px;
    font-size: 23px;
    text-align: left;
}

.reminder h1{
    font-size: 60px;
}

.time{
    display: flex;
    gap: 20px;
    padding: 50px 0;
}

.date{
    background-color: rgba(252,240,248,0.274);
    color: black;
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
}

.hours{
    background-color: rgba(252,248,248,0.274);
    color: black;
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
}

.minutes{
    background-color: rgba(252,248,248,0.274);
    color: black;
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
}

.seconds{
    background-color: rgba(252,244,248,0.274);
    color: black;
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
}

.from{
    background-color: #fff;
    color: black;
}

.account{
    background-color: #fff;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    padding: 30px;
    color: black;
    grid-area: Account;
    position: relative;
    z-index: 2;
}

.account input{
    margin: 15px 0;
    padding: 15px 50px 10px 15px;
    border: 1px solid rgb(0,0,0);
    outline: none;
}

.account .btn{
    padding: 10px 10px;
    margin: 15px 50px;
    background-color: #F39C12;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.account .bt:hover{
    background-color: beige;
    color: #F39C12;
}

/*comunity expert section*/
.community-experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
    background-color: #FFD700;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

.expert-box{
    display: flex;
    grid-gap: 1rem;
    margin-top: 50px;
}

.community-experts .profile{
    background: #333316;
    padding: 30px 10px;
    box-shadow: rgba(17, 17, 26, 0.5)0px 1px 0px rgba(17, 17, 26, 0.1)0px 0px 8px;
}

.community-experts .experts-box .profile2{
    background: #fafaf1;
    padding: 30px 10px;
    box-shadow: rgba(17, 17, 26, 0.5)0px 1px 0px rgba(17, 17, 26, 0.1)0px 0px 8px;
}

.community-experts .experts-box .profile3{
    background: #fafaf1;
    padding: 30px 10px;
    box-shadow: rgba(17, 17, 26, 0.5)0px 1px 0px rgba(17, 17, 26, 0.1)0px 0px 8px;
}

.community-experts .experts-box .profile4{
    background: #fafaf1;
    padding: 30px 10px;
    box-shadow: rgba(17, 17, 26, 0.5)0px 1px 0px rgba(17, 17, 26, 0.1)0px 0px 8px;
}

h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

.pro-links{
    margin-top: 10px;
    /* width: 50%; */
}

/*Footer Section*/
.footer{
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(241, 240, 245);
   font-weight: 600;
   padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer p{
    color: #7b838a;
}

.footer .subscribe{
    margin-top: 20px;
}

.footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: #fff;
}

.pro-links img{
    padding: 10px 15px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
    height: auto;
    width: 10%;
}

footer .subscribe a.yellow{
    color: #fff;
    background: #F39C12;
    transition: 0.3s ease;
}

.footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    font-weight: 600;
}

.footer .copyright{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer .copyright p > a{
    color: #fff;
    text-decoration: none;
}

.footer .copyright .pro-links{
    margin-top: 0px;
}

.footer .copyright .pro-links img{
    background-color: #5f7185;
    color: #fff;
}

.pro-links img{
    padding: 10px 13px;
    border: 1px solid rgb(21, 21 100);
    cursor: pointer;
    transition: 0.3 ease;
}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close{
    display: none;
}

@media(max-width:800px){
    #menu-btn{
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: rgb(0, 0, 0);
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background-color: rgba(17, 20, 104, 0.45);
        height: 100vh;
        backdrop-filter: blur(4.5px);
        border: 1px solid gray;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation ul li{
        padding: 20px 0px 20px 40px;
        margin-left: 0;
        list-style: none;
    }
    nav .navigation ul li a{
        color: white;
    }
    nav .navigation ul.active{
        right: 0;
    }
}